alembic==1.20.0
bs4==0.0.2
click==8.5.0
DateTime==6.0
Deprecated==1.2.14
emoji==2.16.0
Flask==3.1.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
fonttools==4.65.0
requests==2.34.2
SQLAlchemy==2.1.0
tiktoken==0.14.0
playwright
psycopg2-binary
python-dotenv
selenium
webdriver-manager