alembic==1.20.0
bs4==0.0.2
click==8.5.0
DateTime==5.2
Deprecated==1.2.14
emoji==2.8.0
Flask==2.3.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
fonttools==4.43.0
requests==2.34.2
SQLAlchemy==2.0.54
tiktoken==0.5.1
playwright
psycopg2-binary
python-dotenv
selenium
webdriver-manager